body {
    background-color: green;
}

form {
    background-color: orange;
    width: fit-content;
    margin: auto;
    padding: 20px 30px;
    border-radius: 25px;
}

.input-number {
    display: block;
    background-color: white;
    border: none;
    margin: 10px auto;
    width: 200px;
    padding: 10px;
}

select {
    display: block;
    background-color: white;
    margin: 10px auto;
    width: 200px;
    border: none;
    padding: 8px;
}

button {
    display: block;
    margin: 10px auto;
    background-color: blue;
    border: none;
    font-size: 16px;
    color: white;
}

.hasil {
    margin: auto;
}